
.icon-height {
  margin-top: 50px;
}

.page-font-confirm {
  font-family: CiscoSans, Arial, sans-serif !important;
  font-weight: bold;
  background-color: #53C0BC;
}

.wellStyles {
  max-width: 360px;
  margin: 30px auto 10px;
}

.input-current {
  margin-top: 10px;
  margin-left: 15px;
}

.input-new {
  margin-top: 10px;
  margin-left: 60px;
}

.input-confirm {
  margin-top: 10px;
  margin-left: 35px;
}
