.device-wrapper {
    height: auto;
    display: flex;
    align-items: center;
    /*background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url("../../static/img/pattern2.jpg");*/

}
.device-heading a:hover {
    color: darkgoldenrod !important;
/*    text-decoration: underline;
*/}

.device-container a {
    display:block;
    text-decoration: none;
}

.device-row {
    display: flex;
    flex-basis: 200px;
}

.device-row-ap {
    display: flex;
    flex-basis: 80px;
}



.device-wrapper .heading {
    color:black;
    font-size: 2.7em;
}

.device-container {
    padding: 20px;
    border: 5px solid darkslategray;
}

.router {
    flex-basis: 200px !important;
    height: 65px !important;
    /*background-color: rosybrown;*/
    background: url("http://api.thumbr.it/whitenoise-361x370.png?background=566970ff&noise=aec4ac&density=84&opacity=46");
    color:white !important;
    font-family: "Nunito-Regular";
    font-weight: bold;
    transition: 0.5s;
    border: 2px solid white;
    margin: 2px;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    vertical-align: middle;
    line-height: 55px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: thick solid black;
    /*border-top: thick solid green*/
}

.router:hover {
    /*width: 220px !important;*/
    /*height: 80px !important;*/
    /*background-color: gray;*/
    font-family: "Nunito-Regular";
    /*font-weight: bold;*/
    transition: 0.5s;
    /*border: 2px solid white;*/
    /*margin: 2px;*/
    /*text-decoration: none;*/
    /*margin-bottom: 10px;*/
    /*border-bottom: thick solid greenyellow;*/
    border: thick solid greenyellow;
}


/* ************* */

.switch {
    flex-basis: 200px !important;
    height: 65px !important;
    /*background-color: saddlebrown;*/
    background: url("http://api.thumbr.it/whitenoise-361x370.png?background=2793baff&noise=a9cca6&density=84&opacity=46");
    color:white !important;
    font-family: "Nunito-Regular";
    font-weight: bold;
    transition: 0.5s;
    border: 2px solid white;
    margin: 2px;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    vertical-align: middle;
    line-height: 55px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: thick solid black;
    /*border-top: thick solid coral;*/
}

.switch:hover {
    /*width: 220px !important;*/
    /*height: 80px !important;*/
    /*background-color: gray;*/
    color:black;
    /*font-family: "Nunito-Regular";*/
    /*font-weight: bold;*/
    transition: 0.5s;
    border: 2px solid white;
    margin: 2px;
    text-decoration: none;
    /*margin-bottom: 10px;*/
    border: thick solid greenyellow;
    /*border-top: thick solid lightseagreen;*/
}


/**********/

.ap {
    flex-basis: 80px !important;
    height: 80px !important;
    /*background-color: sandybrown;*/
    background: url("http://api.thumbr.it/whitenoise-361x370.png?background=4e90c9ff&noise=ebebf5&density=49&opacity=73");
    color:white !important;
    font-family: "Nunito-Regular";
    font-weight: bold;
    transition: 0.5s;
    border: 2px solid white;
    margin: 2px;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    vertical-align: middle;
    line-height: 70px;
    margin-bottom: 10px;
    border-radius: 30px;
    /*border-bottom: thick solid black;*/
    /*border-top: thick solid green*/
    /*border-radius: 120px 120px 120px 120px;*/
    /*-moz-border-radius: 120px 120px 120px 120px;*/
    /*-webkit-border-radius: 120px 120px 120px 120px;*/
    border: 5px solid black;
}

.ap:hover {
    /*width: 220px !important;*/
    height: 80px !important;
    /*background-color: gray;*/
    color:black;
    font-family: "Nunito-Regular";
    font-weight: bold;
    transition: 0.5s;
    border: 2px solid white;
    margin: 2px;
    text-decoration: none;
    margin-bottom: 10px;
    /*border-bottom: thick solid greenyellow;*/
    border: 5px solid greenyellow;
}




