.page-font {
  font-family: CiscoSans, Arial, sans-serif;
  background-color: #D5D8DE;
}

.wellStyles {
  max-width: 400px;
  margin: 0 auto 10px;
}

.textCenter1 {
  margin-top: 100px
}

.heading-1 {
  font-size: 25px;
  font-family: CiscoSans, Arial, sans-serif;
  font-weight: bold;
}

.heading-2 {
  font-family: CiscoSans, Arial, sans-serif;
  font-weight: 600;
  margin: 10px;
}

.inputStyles {
  margin: 0 auto 10px;
}

.input-box {
  margin-top: 10px;
  padding: 6px;
  min-width: 400px;
}

.button-color {
  margin-top: 10px;
}

.message-page-font {
  font-family: CiscoSans, Arial, sans-serif;
  background-color: #ffffff;
}

.text-message {
  font-size: 16px;
}

.image-height {
  margin-top: 50px;
}
