/*#login-section {*/
/*height: 100%;*/
/*text-align: center;*/
/*display: flex;*/
/*align-items: center;*/
/*margin: 20%;*/
/*}*/

/*#login-cover {*/
/*width: 100%*/
/*}*/

.login-section {
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
  /*background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url("../../static/img/pattern2.jpg");*/
  background: url("../../static/img/office-medium.jpeg") center / cover;
  /*background-size: cover;*/
  /*background-position: ;*/
}

.login-section .heading {
  font-family: "Nunito-Regular";
  font-weight: bold;
  font-size: 1.5em;
}

.login-section .jumbotron {
  background-color: #958172;
  min-width: 100%;
  /*border: solid lightblue 1px;*/
}

.login-section .error {
  color: darkred;
  font-family: "Arial";
}

.login-section input {
  font-family: 'Arial';
  color: darkgoldenrod;
}

.vertical-center {
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.password-link {
  font-family: Roboto;
  font-size: 1em;
  margin-top: 5px;
  justify-content: center !important;
}

.forgot-password {
  color: #0056b3;
  font-family: Roboto;
  font-size: 1em;
  margin-top: 5px;
  text-align: right;
  position: relative;
  right: 235px;
}

