/*feature */

.Navigator-wrapper .col-lg-4 {
  text-align: center;
}

/*.Navigator-wrapper a:focus, .Navigator-wrapper a:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);

}*/

.Navigator-wrapper h2 {
  font-weight: normal;
}

/*.Navigator-wrapper .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
*/
.center {
  text-align: center;
}

.Navigator-wrapper {
  /*height: 300px;*/
  padding: 25px 0;
  /*    //background-image: url('../img/banner.jpg');
  */
  color: darkslateblue;
  font-family: "FjallaOne-Regular";

}

.Navigator-wrapper .description {
  height: 4.3rem;
  font-family: "Nunito-Regular";
  font-size: 0.9rem

}
