
.icon-height {
  margin-top: 50px;
}

.page-font1 {
  font-family: CiscoSans, Arial, sans-serif !important;
  font-weight: bold;
  background-color: #009BAD;
}

.wellStyles {
  max-width: 360px;
  margin: 30px auto 10px;
}

.input-new {
  margin-top: 15px;
  margin-left: 40px;
}

.input-confirm {
  margin-top: 15px;
  margin-left: 10px
}
