/*PDF component */

.pdf-wrapper {
    /*background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url("../../static/img/pattern2.jpg");*/
    background: url("../img/fabric2x.png");

}

.pdf-wrapper .container  {
    min-height: 1087px;
}


.pdf-wrapper .list-group-item:focus {
    background-color: firebrick;
    color: white;
    border: none;
    outline: none;
}

.pdf-list {
    /*margin: 15px 0; !* optional *!*/
    /*padding: 15px; !* optional *!*/
}

.pdf-title, .pdf-view-footer {
    width:700px;
    background-color: white;
    color: black;
    border-radius: 4px;
}

.pdf-view-wrapper {
    padding-top: 5px;
    overflow: scroll;
}

.pdf-flex-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.pdf-view {
    display: flex;
}

.pdf-view-body {
    display: flex;
    /*flex-basis: 700px;*/
}

.pdf-view-body canvas {
    border-radius: 4px;
}

.pdf-view h1 {
    font-family: "Nunito-Regular";
    font-size: 1.3rem;

}

@media only screen and (max-width: 769px) {
    .pdf-wrapper {
        overflow: scroll;
    }

}


/*React Transitions */

.docTrans-enter {
  opacity: 0.01;
}

.docTrans-enter-active {
  opacity: 1;
  transition: opacity 5000ms ease-in;
}

.docTrans-leave {
  opacity: 1;
}

.docTrans-leave.docTrans-leave-active {
  opacity: 0.01;
  transition: opacity 5000ms ease-in;
}
.docTrans-appear {
  opacity: 0.01;
}

.docTrans-appear-active {
  opacity: 1;
  transition: opacity 500ms ease-in ;
}


