/* FONT FACES */
@font-face {
    font-family: 'FjallaOne-Regular';
    src: local('FjallaOne-Regular.ttf'), url('FjallaOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Average-Regular';
    src: local('Average-Regular.ttf'), url('Average-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: local('OpenSans-Regular.ttf'), url('OpenSans-Regular.ttf') format('truetype');
}


@font-face {
    font-family: 'FrancoisOne';
    src: local('FrancoisOne.ttf'), url('FrancoisOne.ttf') format('truetype');
}

@font-face {
    font-family: 'Cubano-Regular';
    src: local('Cubano-Regular.otf'), url('Cubano-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Nunito-Regular';
    src: local('Nunito-Regular.ttf'), url('Nunito-Regular.ttf') format('truetype');
}



html,
body {
    font-family: "Cubano-Regular";
    font-size: 16px;
    height: 100%;
}

/*helpers */

.heading {
    text-align: center;
    color: white;
    font-size: 2.2rem;
}

.active {
    font-weight: bold;
    color:darkgoldenrod !important;
}

.logo {
    margin-right: 5px;
}

.bold-gold {
    color: darkgoldenrod
}


.line-divider {
    margin: 5rem 0;
    border-top: 2px solid rgba(19, 128, 36, 1);
    background-color: rgba(19, 128, 36, 1);
}




/*Navigation styling*/
.navbar{
        background-color: #000211 !important;

}
.navbar-brand {
    color:white !important;
    font-size: 1.8rem;

}

.navbar-nav a {
    font-family: 'OpenSans-Regular';
    font-size: 0.8rem;
    font-weight: bold;
    color:white
}



/*home section */

.home-section {
    height: 100%;

}


#myCarousel {
    font-family:"OpenSans-Regular";
}


/*company  */

.company {
    margin-top: 8.2rem;
    margin-bottom: 1rem;
}

.company .col-md-2 {
    margin-left: 2.2rem;
    
}

.company-header {
    margin-bottom: 2rem;
    text-align: center;
    font-family: "FjallaOne-Regular";
}

.company img {
    max-width: 100px;
    max-height: 40px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.company-body {
    display: flex;
    justify-content: space-around;
}


/*footer */

.footer {
    /*margin-top: 10rem;*/
    /*height: 2rem;*/
    /*background-color: gray;*/
    font-family: Nunito-Regular;
    box-shadow: 0 -3px 10px 0 rgba(0,0,0,.0785);
    background: #fff!important;
    width: 100%!important;
    bottom: 0!important;
    padding-bottom: 10px!important;
    padding-top: 10px!important;
    box-sizing: border-box!important;
    z-index: 500!important;
    text-align: center;
}

.footer p {
    padding-right: 20px;
}


/*equipment room */

.e-room {
    margin-top: 5rem
}

#e-room-section {
    height: 100%;
    background: url('../img/pattern.jpg');
    display: flex;
    align-items: center;
}

.e-room {
    width: 100%;
}


.e-room .container {
    width: 1900px
}

/*#window class*/

.window  {
    background: black;
    height: 512px;
    position: relative;

}




/*flex div*/

.flex-div {
    margin-top: 1rem;
}






/*PDF COMPONENT */


/*media screens */

@media only screen and (max-width: 992px) {
    .company img {
        max-height: 20px;
        margin-bottom: 20px;
    }
}

/*.termsrv img {*/
/*}*/

/*.accesspoints img {*/
    /*max-height: 100px;*/
    /*max-width: 100px;*/
/*}*/






/*.btn-circle  {*/
    /*width: 5rem;*/
    /*height: 5rem;*/
    /*!*padding: 10px 16px;*!*/
    /*margin: 0.5rem 0;*/
    /*line-height: 1.33;*/
    /*border-radius: 2rem;*/
    /*border: 2px solid lightgreen;*/
    /*background-color: darkgray;*/
    /*color:white;*/
    /*font-family: "Nunito-Regular";*/
    /*font-weight: bold;*/
    /*transition: 0.5s;*/

/*}*/

/*.btn-circle:hover,*/
/*.btn-circle:active*/
 /*{*/
    /*width: 5rem;*/
    /*height: 5rem;*/
    /*!*padding: 10px 16px;*!*/
    /*margin: 0.5rem 0;*/
    /*line-height: 1.33;*/
    /*border-radius: 2rem;*/
    /*border: 2px solid darkred;*/
    /*background-color: darkgray;*/
    /*color:white;*/
    /*font-family: "Nunito-Regular";*/
    /*font-weight: bolder;*/
    /*transition: 0.5s;*/
    /*}*/



/* Metal ------------------------- */

.metal {
  position: relative;
  margin: 40px auto;
  outline: none;

  font: bold 6em/2em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  text-align: center;
  color: hsla(0,0%,20%,1);
  text-shadow: hsla(0,0%,40%,.5) 0 -1px 0, hsla(0,0%,100%,.6) 0 2px 1px;

  background-color: hsl(0,0%,90%);
  box-shadow: inset hsla(0,0%,15%,  1) 0  0px 0px 4px, /* border */
    inset hsla(0,0%,15%, .8) 0 -1px 5px 4px, /* soft SD */
    inset hsla(0,0%,0%, .25) 0 -1px 0px 7px, /* bottom SD */
    inset hsla(0,0%,100%,.7) 0  2px 1px 7px, /* top HL */

    hsla(0,0%, 0%,.15) 0 -5px 6px 4px, /* outer SD */
    hsla(0,0%,100%,.5) 0  5px 6px 4px; /* outer HL */

  transition: color .2s;
}



/* Radial ------------------------- */

.radial.metal {
  width: 160px;
  height: 160px;
  line-height: 160px;
  border-radius: 80px;
  background-image: -webkit-radial-gradient(  50%   0%,  8% 50%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%),
    -webkit-radial-gradient(  50% 100%, 12% 50%, hsla(0,0%,100%,.6) 0%, hsla(0,0%,100%,0) 100%),
    -webkit-radial-gradient(   0%  50%, 50%  7%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%),
    -webkit-radial-gradient( 100%  50%, 50%  5%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%),

    -webkit-repeating-radial-gradient( 50% 50%, 100% 100%, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   3%, hsla(0,0%,  0%,.1) 3.5%),
    -webkit-repeating-radial-gradient( 50% 50%, 100% 100%, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%,.1) 7.5%),
    -webkit-repeating-radial-gradient( 50% 50%, 100% 100%, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.2) 2.2%),

    -webkit-radial-gradient( 50% 50%, 200% 50%, hsla(0,0%,90%,1) 5%, hsla(0,0%,85%,1) 30%, hsla(0,0%,60%,1) 100%);
}


.metal.radial:before, .metal.radial:after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: inherit;

  /* fake conical gradients */
  background-image: -webkit-radial-gradient(  50%   0%, 10% 50%, hsla(0,0%,0%,.1) 0%, hsla(0,0%,0%,0) 100%),
    -webkit-radial-gradient(  50% 100%, 10% 50%, hsla(0,0%,0%,.1) 0%, hsla(0,0%,0%,0) 100%),
    -webkit-radial-gradient(   0%  50%, 50% 10%, hsla(0,0%,0%,.1) 0%, hsla(0,0%,0%,0) 100%),
    -webkit-radial-gradient( 100%  50%, 50% 06%, hsla(0,0%,0%,.1) 0%, hsla(0,0%,0%,0) 100%);
}
.metal.radial:before { transform: rotate( 65deg); }
.metal.radial:after { transform: rotate(-65deg); }




/* Linear ------------------------- */

.metal.linear {
  width: 100px;
  font-size: 4em;
  height: 80px;
  border-radius: .5em;
  background-image: -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
    -webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
    -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),

    linear-gradient(180deg, hsl(0,0%,78%)  0%,
    hsl(0,0%,90%) 47%,
    hsl(0,0%,78%) 53%,
    hsl(0,0%,70%)100%);
}


/* Oval ------------------------- */

.metal.linear.oval {
  margin-top: 100px;
  width: 70px;
  height: 60px;
  line-height: 60px !important;
  border-radius: 50%;
  font: italic bold 3em/50px Georgia, "Times New Roman", Times, serif;
}




/* active ------------------------- */

.metal:active {
  color: hsl(210, 100%, 40%);
  text-shadow: hsla(210,100%,20%,.3) 0 -1px 0, hsl(210,100%,85%) 0 2px 1px, hsla(200,100%,80%,1) 0 0 5px, hsla(210,100%,50%,.6) 0 0 20px;
  box-shadow:
    inset hsla(210,100%,30%,  1) 0  0px 0px 4px, /* border */
    inset hsla(210,100%,15%, .4) 0 -1px 5px 4px, /* soft SD */
    inset hsla(210,100%,20%,.25) 0 -1px 0px 7px, /* bottom SD */
    inset hsla(210,100%,100%,.7) 0  2px 1px 7px, /* top HL */

    hsla(210,100%,75%, .8) 0  0px 3px 2px, /* outer SD */
    hsla(210,50%,40%, .25) 0 -5px 6px 4px, /* outer SD */
    hsla(210,80%,95%,   1) 0  5px 6px 4px; /* outer HL */
}




